In [ ]:
#!pip install psycopg2-binary

In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine

In [4]:
#Create an engine connecting to postgres database
engine = create_engine(f'postgresql://postgres:1234567@localhost:5432/sql-challenge')
connection = engine.connect()

In [7]:
# Reading the "Salaries" table into pandas
salaries = pd.read_sql("SELECT * FROM salaries", connection)
salaries

        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]